.chart {
  height: 300px;
  width: 95%;
}
.text-white{
  color:white;
}
.text-black{
  color:black;
}
.gradient {
  border:none;
  background-image: linear-gradient(to right, #40dcb2, #40dc7e);
}
.btn-full{
  width: 100%;
}
