<nb-card _ngcontent-c31="" _nghost-c23="">
  <nb-card-header _ngcontent-c31="">Settings</nb-card-header>
  <nb-card-body _ngcontent-c31="">
      <loader *ngIf="isLoading"></loader>
    <div _ngcontent-c31="" class="row">
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c31="" class="form-group">
          <label _ngcontent-c31="" for="inputFirstName">Ping Interval(s)</label>
          <input _ngcontent-c31="" class="form-control" id="pingInterval" [(ngModel)]="setting.pingInterval" placeholder="Ping Interval in seconds" type="number">
        </div>
      </div>
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c32="" class="form-group">
          <label _ngcontent-c32="">Time period (for averaged calculation)</label>
          <select _ngcontent-c32="" (change)="onChange($event)" [(ngModel)]="selectedTimePeriod" class="form-control">
            <option disabled>select time period</option>
            <option _ngcontent-c32="" *ngFor="let item of timeFilter;let i=index" value="{{i}}">Past {{item.value}}{{item.unit}}</option>
          </select>
        </div>
      </div>
    </div>
    <div _ngcontent-c31="" class="row">
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c31="" class="form-group">
          <label _ngcontent-c31="" for="inputEmail">Sender's Email Address</label>
          <input _ngcontent-c31="" class="form-control" [(ngModel)]="setting.sender_emailId" placeholder="Email" type="email">
        </div>
      </div>
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c31="" class="form-group">
          <label _ngcontent-c31="" for="inputWebsite">Sender's Email Password</label>
          <input _ngcontent-c31="" class="form-control" [(ngModel)]="setting.sender_emailPassword" placeholder="password" type="password">
        </div>
      </div>
    </div>
    <div _ngcontent-c31="" class="row">
        <div _ngcontent-c31="" class="col-sm-6">
          <div _ngcontent-c31="" class="form-group">
            <label _ngcontent-c31="" for="inputEmail">Sender's Email Host</label>
            <input _ngcontent-c31="" class="form-control" [(ngModel)]="setting.sender_emailHost" placeholder="Host" type="text">
          </div>
        </div>
        <div _ngcontent-c31="" class="col-sm-6">
          <div _ngcontent-c31="" class="form-group">
            <label _ngcontent-c31="" for="inputWebsite">Sender's Port number</label>
            <input _ngcontent-c31="" class="form-control" [(ngModel)]="setting.sender_emailPort"  placeholder="port" type="number">
          </div>
        </div>
      </div>
      <div _ngcontent-c31="" class="row">
          <div _ngcontent-c31="" class="col-sm-4">
            <div _ngcontent-c31="" class="form-group">
              <label _ngcontent-c31="" for="inputEmail">Reciever's Email Address</label>
              <input _ngcontent-c31="" class="form-control" [(ngModel)]="setting.reciever_emailId" placeholder="Email" type="text">
            </div>
          </div>
          <div _ngcontent-c31="" class="col-sm-4">
            <div _ngcontent-c31="" class="form-group">
              <label _ngcontent-c31="" for="inputEmail">Username</label>
              <input _ngcontent-c31="" class="form-control" [(ngModel)]="setting.username" placeholder="username" type="text">
            </div>
          </div>
          <div _ngcontent-c31="" class="col-sm-4">
            <div _ngcontent-c31="" class="form-group">
              <label _ngcontent-c31="" for="inputEmail">Password</label>
              <input _ngcontent-c31="" class="form-control" [(ngModel)]="setting.password" placeholder="password" type="text">
            </div>
          </div>
        </div>
    <button _ngcontent-c31="" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </nb-card-body>
</nb-card>
