<nb-card _ngcontent-c31="" _nghost-c23="">
  <nb-card-header _ngcontent-c31="">Settings</nb-card-header>
  <nb-card-body _ngcontent-c31="">
    <div _ngcontent-c31="" class="row">
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c31="" class="form-group">
          <label _ngcontent-c31="" for="inputFirstName">Ping Interval(s)</label>
          <input _ngcontent-c31="" class="form-control" id="pingInterval" placeholder="Ping Interval in seconds" type="number">
        </div>
      </div>
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c32="" class="form-group">
          <label _ngcontent-c32="">Time period (for averaged calculation)</label>
          <select _ngcontent-c32="" class="form-control">
            <option _ngcontent-c32="">1 minute</option>
            <option _ngcontent-c32="">10 minutes</option>
            <option _ngcontent-c32="">1 hour</option>
            <option _ngcontent-c32="">3 hours</option>
            <option _ngcontent-c32="">6 hours</option>
            <option _ngcontent-c32="">6 hours</option>
            <option _ngcontent-c32="">12 hours</option>
            <option _ngcontent-c32="">1 day</option>
            <option _ngcontent-c32="">7 days</option>
            <option _ngcontent-c32="">1 month</option>
          </select>
        </div>
      </div>
    </div>
    <div _ngcontent-c31="" class="row">
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c31="" class="form-group">
          <label _ngcontent-c31="" for="inputEmail">Sender's Email Address</label>
          <input _ngcontent-c31="" class="form-control" id="inputEmail" placeholder="Email" type="email">
        </div>
      </div>
      <div _ngcontent-c31="" class="col-sm-6">
        <div _ngcontent-c31="" class="form-group">
          <label _ngcontent-c31="" for="inputWebsite">Sender's Email Password</label>
          <input _ngcontent-c31="" class="form-control" id="inputWebsite" placeholder="Website" type="password">
        </div>
      </div>
    </div>
    <div _ngcontent-c31="" class="row">
        <div _ngcontent-c31="" class="col-sm-6">
          <div _ngcontent-c31="" class="form-group">
            <label _ngcontent-c31="" for="inputEmail">Sender's Email Host</label>
            <input _ngcontent-c31="" class="form-control" id="inputEmail" placeholder="Email" type="text">
          </div>
        </div>
        <div _ngcontent-c31="" class="col-sm-6">
          <div _ngcontent-c31="" class="form-group">
            <label _ngcontent-c31="" for="inputWebsite">sender's Port number</label>
            <input _ngcontent-c31="" class="form-control" id="inputWebsite" placeholder="Website" type="number">
          </div>
        </div>
      </div>
      <div _ngcontent-c31="" class="row">
          <div _ngcontent-c31="" class="col-sm-6">
            <div _ngcontent-c31="" class="form-group">
              <label _ngcontent-c31="" for="inputEmail">Reciever's Email Address</label>
              <input _ngcontent-c31="" class="form-control" id="inputEmail" placeholder="Email" type="text">
            </div>
          </div>
        </div>
    <button _ngcontent-c31="" class="btn btn-primary" type="submit">Submit</button>
  </nb-card-body>
</nb-card>
